Natural Language Calendar Booking AI Agent.json
{
  "name": "Natural Language Calendar Booking AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "34d4bfb5-0984-4387-b094-a7e72e888009",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "webhookId": "2276f644-46d9-4ebd-ae96-98aee2620dce"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "8f79d9e2-5418-4f2f-a872-0e95e8fee83b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "uLrxL7vMtbN2hkAn",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "728ce486-4823-4ec8-a330-5146ca6beb8a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_title\": {\n      \"type\": \"string\",\n      \"description\": \"The title/summary of the calendar event\"\n    },\n    \"start_datetime\": {\n      \"type\": \"string\",\n      \"description\": \"ISO 8601 datetime for event start (e.g., 2024-01-31T14:00:00)\"\n    },\n    \"end_datetime\": {\n      \"type\": \"string\",\n      \"description\": \"ISO 8601 datetime for event end (e.g., 2024-01-31T15:00:00)\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Optional event description or agenda\"\n    },\n    \"attendees\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Optional list of attendee email addresses\"\n    }\n  },\n  \"required\": [\"event_title\", \"start_datetime\", \"end_datetime\"]\n}"
      },
      "id": "a08180f2-4638-440d-9db3-09fbfb5b65c0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{ $fromAI('start_datetime', 'ISO datetime for event start') }}",
        "end": "={{ $fromAI('end_datetime', 'ISO datetime for event end') }}",
        "additionalFields": {
          "description": "={{ $fromAI('description', 'Event description or agenda', 'string', '') }}",
          "summary": "={{ $fromAI('event_title', 'The title of the calendar event') }}"
        }
      },
      "id": "047714d1-5b21-43b0-b6b2-1e7483535a45",
      "name": "Google Calendar Tool",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Calendar AI Assistant that helps users block time on their Google Calendar using natural language requests.\n\nCurrent date and time: {{ new Date().toISOString() }}\nTimezone: UTC (adjust times accordingly)\n\nYour task:\n1. Parse the user's natural language request to extract:\n   - event_title: What the event is about\n   - start_datetime: When it starts (ISO 8601 format)\n   - end_datetime: When it ends (ISO 8601 format)\n   - description: Optional agenda or notes\n   - attendees: Optional email addresses\n\n2. Handle relative time phrases:\n   - 'today', 'tomorrow', 'next Monday', 'Jan 31', '30 Jan'\n   - '2 PM', '14:00', '2-3 PM', '2pm-3pm'\n   - If end time is missing, default to 1 hour duration\n\n3. Convert all times to ISO 8601 format (YYYY-MM-DDTHH:mm:ss)\n\n4. Use the Google Calendar tool to create the event\n\n5. Respond with a confirmation message including:\n   - Event title\n   - Date and time\n   - Duration\n   - Success confirmation\n\nIf the request is ambiguous (e.g., unclear date/time), ask for clarification politely.\n\nExamples:\n- 'Block my calendar for a meeting at 2 PM tomorrow' → Create 1-hour meeting tomorrow at 14:00\n- 'Create a 30-minute call with Akash next Monday at 10' → Create 30-min event next Monday 10:00-10:30\n- 'Hold 3pm-4pm on Jan 31 for project review' → Create 1-hour event on Jan 31 from 15:00-16:00"
        }
      },
      "id": "08110428-7ade-4ea0-9e6b-be451636f068",
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        344,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "13459c52-8a46-4cca-af8b-913261d3d0c8",
  "meta": {
    "instanceId": "1adf2326d259e35c14a1d925a0ef9c4b7067b1b3059009ee83a5f7c1368c7c9f"
  },
  "id": "05IIfuDA-FrmsPlBGbf3D",
  "tags": []
}